<!DOCTYPE html>
<html>
<head>
  <title>CurrentGame</title>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Varela+Round' %>

  <%= csrf_meta_tags %>
</head>
<body>
  <%= react_component('Header') %>

  <main>
    <%= yield %>
  </main>

  <%= javascript_include_tag 'application' %>
</body>
</html>
